<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ appTitle|slice(1, -1)  }}</title>

    <link rel="stylesheet" href="{{ asset('build/main.css') }}">

    <link rel="icon" href="{{ asset('favicon.ico') }}">
</head>
<body>

<div id="app"></div>

<script type="text/javascript">
    window.GA_ID = '{{ gaID }}';
    window.appTitle = '{{ appTitle|slice(1, -1) }}';
</script>
<script src="{{ asset('build/main.js') }}"></script>

</body>
</html>
